*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: #616161;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9bc5c3, #616161);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #9bc5c3, #616161);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.weather-app {
    // height: 40vh;
    width: 50vw;
    // background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: max-content;
    width: max-content;
    padding: 1rem;
    margin: 1rem;

    h3{
        color: white;
    }
   span[data-span-display="false"]{
       display: none;
   }
   span[data-span-display="true"]{
       display: block;
       color:brown;
       font-size: .9rem;
       font-weight: 700;
   }

    .weather-form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;

        input{
            border: none;
            outline: none;
            height: 25px;
            width: 100%;
            text-align: center;
            text-transform: capitalize;

            &::placeholder{
                // padding-inline: 1rem
                text-align: center;
            }
        }

        button{
            border: none;
            outline: none;
            cursor: pointer;
            color: chocolate;
            font-weight: 700;
            width: 100%;
            height: 25px;
            border-radius: 7px;
            border: 1px chocolate solid;

            &:hover{
                color: white;
                background-color: chocolate;
                border: 1px white solid;
            }

        }
    }
}

.weather-fixed[data-weather-display="true"]{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #ddd;
    // max-height: 60vh;
    height: max-content;
    padding: 1.5rem;
    border-radius: 10px;
    // max-width: 40vw;
    width: max-content;
    transform: scale(1.1);
    // cursor: pointer;
    &:hover{
        transform: scale(1.2);
        transition: 1000ms ease-out;
    }

    img{
        max-width: 100%;
        height: auto;
    }
    // display: none;

    .back{
        display: flex;
        gap: 10px;
        color: white;
        font-size: 1.3rem;
        font-weight: 700;
        cursor: pointer;
        // justify-content: center;
        align-items: center;

        &:hover{
            transform: scale(1.03);
            transition: 500ms ease-in-out;
        }
    }
    .weather-display{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        
        color: white;

        .temp{
            font-size: 1.5rem;
            font-weight: 700;
        }
        .clouds{
            font-weight: 600;
        }

        .location{
            font-size: .75rem;
        }
    }
}

.weather-fixed[data-weather-display="false"]{
    display: none;
    transition: 800ms ease-in-out;
}

.conditions{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
    // padding: 1rem;
    margin-top: 20px;

    div{
        display: flex;
        gap: 10px;
        align-items: center;

        i{
            // color: chocolate;
            // font-weight: 700;
            font-size: 1.7rem;
            color: white;
        }

        div{
            display: flex;
            flex-direction: column;
            gap: 5px;
            width: 100%;
            color: white;

            .numbers{
                font-size: 1.5rem;
            }
            .description{
                font-size: .75rem;
            }
        }
    }
}